body, html {
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
    margin: 0px;
    background-color: #202836;
}

.top-of-page{
    width: 100%;
    height: 5rem;
    line-height: 5.4rem;
    background-color:#0b1323;
    position: absolute;
}

.search-input{ 
    position: relative;
    margin-left: 2rem;
    height: 2rem;
    width: 30rem;
    bottom: 0.3rem;
}

.top-button{
    height: 2.5rem;
    background-color: #293546;
    border-style: none;
    border-radius: 17px;
    font-size: 1.8rem;
    font-family: revert;
    color: silver;
}

.filter-button{
    width: 6rem;
    margin-left: 5rem;

}

.sorted-by-button{
    margin-left: 1.5rem;
    width: 9rem;
}

.add-new-auction{
    margin-left: 1.5rem;
    width: 16rem;

}

.account{
    margin-top: 0.75rem;
    position: absolute;
    right: 2rem;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 100%;
}
